version: '3.8'

services:
  frontend:
    build: ./frontend
    container_name: frontend
    expose:
      - "80"

  backend:
    build: ./backend
    container_name: backend
    env_file:
      - .env 
    ports:
      - "5000:5000"

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "3000:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
